@font-face {
    font-family: 'Marvel';
    src: url(../Font/Marvel-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}


#utilisateurConnecter {
    display: none;
}

#footerMarvel {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    background-color: #59595950;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

#footerGauche  {
    display: flex;
}

.imgFooter {
    height: 80px;
    margin-right: 10px;
}

#texteFooter {
    margin: 30px;
    font-family: 'Marvel', sans-serif;
}