@font-face {
    font-family: 'Marvel';
    src: url(../Font/Marvel-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

#captainMarvel {
    display: none;
}

#pageInscription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Marvel', sans-serif;
}

.imageMarvel {
    margin: 50px;
    width: 30vw;
}

#blockInscription{
    margin: 30px 0;
    border-radius: 20px;
    background-color: #59595950;
    width: 30vw;
    z-index: 2;
}

#titreInscription{
    margin: 40px auto;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    color: #e01c1cce;
    width: 300px;
}

table {
    margin: 100px auto;
    width: 350px;
    height: 450px;
}

.champRemplissage {
    border-radius: 10px;
    border: dotted 2px #e01c1cce;
    margin: 10px 0;
    width: 350px;
    height: 30px;
}

#boxCheckBox, #boxBtnInscription {
    text-align: center;
}

#btnInscrire {
    border: none;
    margin: 10px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-family: 'marvel', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: #5E5BFF;
    box-shadow: 5px 5px 10px rgb(49, 47, 47);
    cursor: pointer;
}

#btnInscrire:hover {
    background-color: #5e5bff98;
}

#btnInscription:active {
    background-color: #e01c1c79;
}

@media (width < 1250px) {

    .imageMarvel {
        display: none;
    }

    #captainMarvel {
        display: flex;
        display: block;
        position: absolute;
        z-index: 1;
        width: 340px;
        margin: 100px 25vw;
    }

    #blockInscription {
        width: 340px;
    }

    .champRemplissage {
        width: 300px;
        margin-left: 10px;
    }

    @media (width < 450px) {
        #captainMarvel{
            margin: 100px 20px;
        }

        .btn{
            font-size: 8px;
            width: 50px;
            height: 30px;
        }
    }
}