@font-face {
    font-family: 'Marvel';
    src: url(../Font/Marvel-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.ligne, .blockPresentation {
    display: flex;
    justify-content: space-between;
}

.ligne {
    margin: 20px 0;
}

.blockPresentation{
    width: 596px;
    height: 327px;
    margin: 0 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    align-items: center;
}

.couverture {
    width: 196px;
    height: 243px;
    
}
.blockVote, .couverture {
    margin-left: 40px;
}

.vote {
    width: 33px;
}

.titreBook {
    border-radius: 10px;
    width: 251px;
    height: 38px;
    margin-right: 40px;
    background-color: #F0F0F0;
    text-align: center;
    color: #D94343;
    
}

.texteBook {
    width: 251px;
    height: 178px;
    border-radius: 10px;
    align-items: center;
    background-color: #F0F0F0;
}

.BtnEnvoyer {
    width: 69px;
    height: 21px;
    margin-top: 10px;
    background-color: #5E5BFF;
    border-radius: 15px;
    color: white;
    box-shadow: 5px 5px 10px rgb(49, 47, 47);
}