{% extends 'base.html.twig' %}

{% block stylesheetsCSS %}
{% endblock %}

{% block main %}
<main id=pageProfil>
    <section id="blocDeProfil">
        <article id="cadrePerso">
            <div>
                <img id="photoProfil" src="{{ asset('Asset/Img/Avatar-defaut.webp')}}" alt="Photo de profil">
                <input id="btnChangerPhoto" type="submit" value="Changer photo">
            </div>
            <div id="pseudoGenreDate">
                <form method="post" action="adresse de destination">
                    <table class="h-full p-0 my-1">
                        <tr>
                            <td>
                                <label for="pseudoProfil">Pseudo</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="pseudoProfil" type="text" name="pseudo" placeholder="Pseudo">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sexe">Sexe</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="Sexe" id="sexe">
                                    <option value="">Selectionez votre sexe
                                    <optgroup label="Genre"></optgroup>
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="date">Date de naissance</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="date" type="date" name="date" values="#">
                            </td>
                        </tr>
                    </table>
                    <input id="enregitrerCadrePerso" type="submit" value="Enregistrer">
                </form>
            </div>
        </article>
        <article id="cadreDeDescription">
            <form method="post" action="adresse de destination">
                <table id="tableauDescription">
                    <tr>
                        <td>
                            <label class="label"  for="email">E-mail :</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="champRemplissage" type="email" name="email" placeholder=" Saisisez votre E-mail">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="label" for="password">Changement de mot de passe :</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="champRemplissage" type="password" name="password" placeholder=" Saisisez votre Mot de passe">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="label" for="password">Validation du mot de passe :</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="champRemplissage" type="password" name="password" placeholder=" Resaisisez votre Mot de passe">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="label"  for="description">Description :</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="champDeDescription" maxlength="255" name="description" placeholder="Saisisez votre déscription"></textarea>
                        </td>
                    </tr>
                </table>
                <input id="enregitrerDescription" type="submit" value="Enregistrer">
            </form>
        </article>
    </section>
    <img id="marvelUniverse" src="{{ asset('Asset/Img/Les-personnages-marvel.webp')}}" alt="Marvel Universe">
</main>
{% endblock %}
